<div class="page-content page-container" id="page-content">
    <div class="card">
        <div class="card-body">
            <div class="d-flex bd-highlight">
                <h1 class="p-2 w-100 bd-highlight">Categories</h1>
                <div class="p-2 flex-shrink-1 bd-highlight">
                    <button class="btn btn-sm btn-outline-dark">
                        <a href="categories/new">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            <span>Add New</span>
                        </a>
                    </button>
                </div>
            </div>
            <div class="table-responsive mt-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0; i< categories.length; i++){ %>
                        <tr>
                            <td>#<%=i%></td>
                            <td><%=categories[i].name%></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>