<div class="page-content page-container" id="page-content">
    <div class="card">
        <div class="card-body">
            <div class="d-flex bd-highlight">
                <h1 class="p-2 w-100 bd-highlight">Products</h1>
                <div class="p-2 flex-shrink-1 bd-highlight">
                    <button type="button" class="btn btn-primary btn-success">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <span>Add New</span>
                    </button>
                </div>
            </div>
            <div class="table-responsive mt-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>#1</td>
                            <td><label class="badge badge-danger">Pending</label></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>