<div class="container mt-5">
    <div class="d-flex justify-content-between">
        <h4>Products</h4>
        <button class="btn btn-sm btn-outline-dark">
            <a href="/products/new">
                <i class="fa fa-plus" aria-hidden="true"></i>
                Add new
            </a>
        </button>
    </div>
    <div class="row mt-2 g-1">
        <% products.forEach(product => { %>
            <div class="col-md-3">
                <div class="card p-2">
                    <div class="text-right"> <small><%=product.info%></small> </div>
                    <div class="text-center mt-2 p-3">
                        <% if (product.info == "Account") { %>
                            <img alt="image" src="/images/netflix.png" width="60" />
                        <% } else { %>
                            <img alt="image" src="/images/spotify.png" width="60" />
                        <% } %>
                        <p></p>
                        <% product.categories.forEach(category => { %>
                            <span class="d-block font-weight-bold"><%=category.name%></span>
                        <% }) %>
                        <hr> <span>Google Inc</span>
                        <div class="d-flex flex-row align-items-center justify-content-center"> <em class="fa fa-map-marker"></em> <small class="ml-1">FA 100, OH, USA</small> </div>
                        <div class="d-flex justify-content-between mt-3"> <span>$ <%=product.price%></span> <button class="btn btn-sm btn-outline-dark">Details</button> </div>
                    </div>
                </div>
            </div>
        <%})%>
    </div>
</div>
