<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <div id="form_wrapper">
        <div id="form_left">
            <img src="/images/fingerprint.png" alt="computer icon">
        </div>
        <div id="form_right">
            <div style="height: 30px; width: 30px;"></div>
            <button class="btn btn-default btn-success text-center">
                <a class="btn text-white" href="/users/register">
                    <span style="font-size: 3rem;">
                        <i class="fa fa-user text-white" aria-hidden="true"></i>
                        User Sign Up
                    </span>
                </a>
            </button>
            <button class="btn btn-default btn-success text-center">
                <a class="btn text-white" href="/staffs/register">
                    <span style="font-size: 3rem;">
                        <i class="fa fa-user-secret text-white" aria-hidden="true"></i>
                        Staff Sign Up
                    </span>
                </a>
            </button>
            <div style="height: 30px; width: 30px;"></div>
        </div>
    </div>
</body>

</html>