<link rel="stylesheet" href="/css/user.css">

<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="card-title">Users</h4>
                <div class="list list-row block">
                    <div class="list-item" data-id="19">
                        <div>
                            <a href="#" data-abc="true">
                                <span class="w-48 avatar gd-primary">U</span>
                            </a>
                        </div>
                        <div class="flex col-sm-9">
                            <a href="#" class="item-author text-color" data-abc="true">User's name</a>
                            <div class="item-except text-muted text-sm h-1x">quythang1997@gmail.com</div>
                        </div>
                        <div class="no-wrap col-sm-3">
                            <div class="item-date text-muted text-sm d-none d-md-block">
                                <input name="" id="" class="btn btn-primary" type="button" value="User">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h4 class="card-title">Staffs</h4>
                <div class="list list-row block">
                    <div class="list-item" data-id="19">
                        <div>
                            <a href="#" data-abc="true">
                                <span class="w-48 avatar gd-warning">S</span>
                            </a>
                        </div>
                        <div class="flex col-sm-9">
                            <a href="#" class="item-author text-color" data-abc="true">Staff's name</a>
                            <div class="item-except text-muted text-sm h-1x">quythang1997@gmail.com</div>
                        </div>
                        <div class="no-wrap col-sm-3">
                            <div class="item-date text-muted text-sm d-none d-md-block">
                                <input name="" id="" class="btn btn-warning" type="button" value="Staff">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>