<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>

    <body>
        <form class="form" method="POST" id="form_wrapper">
            <div id="form_left">
                <img src="/images/fingerprint.png" alt="computer icon">
            </div>
            <div id="form_right">
                <h1>Staff Sign Up</h1>
                <div class="input_container">
                    <em class="fas fa-envelope"></em>
                    <input placeholder="Email" type="email" name="email" id="field_email" class='input_field'>
                </div>
                <div class="input_container">
                    <em class="fas fa-lock"></em>
                    <input placeholder="Password" type="password" name="password" id="field_password"
                        class='input_field password'>
                </div>
                <div class="input_container">
                    <em class="fas fa-lock"></em>
                    <input placeholder="Confirm Password" type="password" name="confirmPassword"
                        id="field_confirmPassword" class='input_field confirmPassword'>
                </div>
                <p class="message" style="color: red; text-align: center;"></p>
                <input type="submit" value="Sign Up" id='input_submit' class='input_field register'>
                <span id='create_account'>
                    <a href="/staffs/login">Return To Sign In</a>
                </span>
            </div>
        </form>
    </body>
</body>

<script>
    const form = document.querySelector('.form');
    document.querySelector('.register').addEventListener('click', function (e) {
        e.preventDefault();
        const password = document.querySelector('.password');
        const confirmPassword = document.querySelector('.confirmPassword');

        if (password.value === confirmPassword.value) {
            return form.submit();
        }

        const message = document.querySelector('.message');
        message.textContent = "Password Not Match, Check Again!"
    })
</script>

</html>